{% extends "base.html" %}

{% block content %}
<br/><br/><br/>
    {% if not created %}
    <form action="." method="post">
        <input type="text" name="title" placeholder="Title">
        <br/><br/>
        <textarea name="content"></textarea>
        <br/><br/>
        <button type="submit">Create Article</button>
        {%csrf_token%}
    </form>

    {% else %}
        <p> Your article has been created!</p>
        <a href="/articles/{{object.id}}">{{object.title}}</a>
    {% endif %}

{% endblock %}